.global-header {
  width: 100%;
  height: 1.2rem;
  text-align: center;
  line-height: 1.2rem;
  color: white;
  font-size: .5rem;
}
.test {
  height: 600px;
}
.cart-bottom-bar {
  background: #fff;
  position: absolute;
  bottom: 1.28rem;
  z-index: 9999;
  width: 100%;
  height: 1.17rem;
}
.total-price,
.settlement {
  float: right;
  text-align: center;
  height: 1.17rem;
  line-height: 1.17rem;
}
.total-price {
  font-size: .5rem;
  margin-right: .3rem;
  color: #ff762e;
}
.total-price span {
  font-size: .3rem;
}
.settlement {
  float: right;
  text-align: center;
  font-size: .4rem;
  width: 3.125rem;
  color: white;
  background: #ff762e;
}
.global-choose {
  display: flex;
  align-items: center;
  float: left;
  height: 100%;
  width: 2rem;
  font-size: .4rem;
  margin-left: .5rem;
}
.global-choose img {
  width: .55rem;
  height: auto;
  margin-right: .2rem;
}


/* 购物车商品 */

.cart-main {
  width: 100%;
  padding: 0 .27rem;
}

.cart-goods-item {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 2.88rem;
  margin-bottom: .2rem;
  overflow: hidden;
  border-radius: .2rem;
}
.cart-goods-box {
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 100%;
  background: white;
  padding: .27rem 0;
}
.choose {
  display: flex;
  align-items: center;
  float: left;
  margin: 0 .23rem;
  width: .55rem;
  height: 100%;
}
.choose img{
  width: .55rem;
  height: auto;
}
.cart-goods-info-img {
  float: left;
  height: 100%;
  width: 2.34rem;
}

.cart-goods-info-img img {
  width: 2.34rem;
  height: 2.34rem;
}
.cart-info {
  position: relative;
  float: left;
  width: 5.6rem;
  height: 2.34rem;
  margin-left: .2rem;
}
.cart-describe {
  text-align: justify;
  letter-spacing: .03rem;
  color: #474747;
  font-size: .35rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.cart-heavy {
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  color: #c1c1c1;
}

.cart-price {
  position: absolute;
  bottom: 0;
  font-size: .35rem;
  color: #ff762e;
}
.cart-price-span {
  font-size: .28rem;
}
.cart-button {
  position: absolute;
  display: flex;
  align-items: flex-end;
  bottom: 0;
  right: 0;
}
.cart-num {
  display: inline-block;
  width: 1.3rem;
  height: .47rem;
  line-height: .47rem;
  text-align: center;
  background: #e0e0e0;
  font-size: .33rem;
}
.cart-decrement, 
.cart-increment {
  width: .47rem;
  height: .47rem;
  line-height: .47rem;
  border: none;
  background: #e0e0e0;
  font-size: .4rem;
  text-align: center;
}
.cart-decrement {
  margin-right: .1rem;
  border-top-left-radius: .11rem;
  border-bottom-left-radius: .11rem;
}
.cart-increment {
  margin-left: .1rem;
  border-top-right-radius: .11rem;
  border-bottom-right-radius: .11rem;
}

.del {
  position: absolute;
  z-index: 1;
  width: 2rem;
  height: 100%;
  right: 0;
  text-align: center;
  line-height: 2.88rem;
  font-size: .8rem;
  background: red;
}
.del img{
  width: .7rem;
  height: auto;
}
