* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  touch-action: none;
  font-family: "Microsoft YaHei"
}

p {
  margin-bottom: 0;
}

body {
  background: #212735 !important;
  line-height: normal;
}