* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  touch-action: none;
  font-family: "Microsoft YaHei"
}

ol, ul, dl { 
  margin-bottom: 0;
}

button {
  border: none;
}

p {
  margin-bottom: 0;
}

body {
  background: #212735 !important;
  line-height: normal;
}