.goods-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 .32rem;
}

.calculate {
  position: absolute;
  right: -.2rem;
  bottom: 0;
  width: 2rem;
}

.decrement, .increment {
  width: .6rem;
  height: .6rem;
  line-height: .6rem;
  border-radius: 50%;
}

.decrement {
  font-size: .6rem;
  color: #201d1d;
  background: #dadada;
}

.increment {
  float: right;
  font-size: .4rem;
  color: #fff;
  background: #ff762e;
}