/* head 样式开始 */


.home-header {
  position: sticky;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 1.2rem;
  line-height: 1.2rem;
  font-size: .66rem;
  color: white;
}

.location {
  position: absolute;
  /* opacity: 0; */
  overflow: hidden;
  transition: all 1s;
  height: 0;
  top: 50px;
  z-index: 0;
}

.show {
  /* opacity: 1; */
  overflow: visible;
  height: 400px;
}

.location::before {
  content: '';
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  border: 10px solid transparent;
  border-bottom-color: skyblue;
  position: absolute;
  z-index: 9999;
  top: -18px;
  left: 12px;
}

.location li {
  color: red;
  width: 2rem;
  height: .8rem;
  background: skyblue;
}

.home-header img {
  display: block;
  width: .6rem;
  height: auto;
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translate(0, -50%);
}

.home-header label {
  margin-top: .1rem;
  font-size: .4rem;
  margin-left: 1.2rem;
  letter-spacing: 3px;
}

.home-header .search {
  display: inline-block;
  margin-left: .6rem;
  outline-style: none;
  background: white;
  height: .8rem;
  width: 5rem;
  padding: .3rem;
  border: 0;
  border-radius: .4rem;
  font-size: .35rem;
}

/* tab-bar 样式开始 */

.tab-bar {
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 1.28rem;
  z-index: 999;
}

.tab-bar-item {
  flex: 1;
  text-align: center;
}

.tab-bar-img {
  width: 100%;
  height: .78rem;
  position: relative;
  background: #10131a;
}

.tab-bar-icon {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: .45rem;
  height: auto;
  background: #10131a;
}

.tab-bar-title {
  height: .5rem;
  line-height: .5rem;
  color: white;
  font-size: .3rem;
  text-align: center;
  background: #10131a;
}

.tab-bar-item:last-child .tab-bar-img .tab-bar-icon {
  width: .35rem;
  height: auto;
}

.active {
  color: red;
}

/* tab-bar 样式结束 */

/* 首页轮播图 */

.Swiper {
  width: 100%;
  height: 3.5rem;
  padding-bottom: .1rem;
  padding: 0 .32rem;
}

.Swiper .swiper-container {
  border-radius: .2rem;
  width: 100%;
  height: 100%;
  margin: 0px auto;
}

.Swiper .swiper-pagination {
  background: transparent;
}

.Swiper .swiper-pagination-bullet {
  width: .6rem;
  height: .1rem;
  border-radius: .08rem;
  background: #8c8582;
}

.Swiper .swiper-pagination-bullet-active {
  background: white;
  opacity: 1;
}

.Swiper .swiper-slide {
  width: 100% !important;
  height: 100% !important;
  overflow: hidden;
}

.Swiper .banner-img {
  width: 100%;
  height: 100%;
}

/* 首页轮播结束 */

/* 首页Icon样式 */

.icons {
  overflow: hidden;
  width: 100%;
  height: 4.15rem;
  margin-top: .1rem;
}

.icons .swiper-container {
  height: 100%;
}

.icon {
  position: relative;
  box-sizing: border-box;
  float: left;
  width: 25%;
  height: 2rem;
}

.icon-img {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: .4rem;
  vertical-align: middle;
}

.icon-img img {
  width: 1.22rem;
  height: auto;
}

.icon-desc {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: .4rem;
  color: white;
  line-height: .4rem;
  font-size: .3rem;
  text-align: center;
}

.icons .swiper-scrollbar {
  background: white;
  width: 1rem;
  left: 50%;
  transform: translate(-50%, 0);
}

.icons .swiper-scrollbar-drag {
  background: #ff762e;
}

/* 首页Icon结束 */

/* 首页通告 */

.notice {
  position: relative;
  z-index: 999;
  overflow: hidden;
  width: 100%;
  height: 1.22rem;
  margin-top: 1px;
  padding: 0 .4rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  color: white;
  font-size: .3rem;
  margin-bottom: .16rem;
}

.notice-swiper {
  float: left;
  height: 1.22rem;
  line-height: 1.22rem !important;
  padding-left: .7rem;
  font-size: .4rem;
}

.notice-img {
  position: relative;
  float: left;
  width: 15%;
  height: 100%;
}

.notice-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: .7rem;
  height: .7rem;
}

.notice .swiper-slide {
  z-index: 2;
}

.wrapper {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.top-tip {
  position: absolute;
  top: -40px;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: red;
  font-size: 1rem;
}

.bottom-tip {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 1.06rem;
  color: #fff;
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.bottom-tip img {
  width: .53rem;
  height: auto;
  margin-right: .2rem;
  animation: loading 1s linear infinite;
}

.home-loadingBg {
  position: relative;
  top: 0;
  left: 0;
  z-index: 9999 !important;
  width: 100vw;
  height: 100vh;
  background: skyblue;
}

.home-loading-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.home-loading-img img {
  animation: loading 1s linear infinite;
}

.home-live {
  width: 100%;
  height: 5rem;
  padding: 0 .32rem;
}

.home-live-cover {
  margin-top: .16rem;
  width: 100%;
  height: 100%;
  background: green;
}