.category-head-button {
  position: absolute;
  z-index: 9999;
  top: .33rem;
  left: 1.23rem;
  transform: translate(-50%, 0);
}

.category-head-button img {
  width: 1.6rem;
  height: auto;
}

.category-left, .category-right {
  width: .8rem;
  height: .53rem;
  border: none;
  background: skyblue;
}

.category-right {
  left: 20%;
}

.category-active {
  background: #ff833a;
  color: #fff;
}

/* 按钮结束 */

.category-main {
  width: 100%;
}

.categoryLeft {
  position: relative;
  float: left;
  top: .2rem;
  width: 2.46rem;
  height: calc(100vh - 1.48rem);
  overflow: hidden;
  background: white;
}

.category-title {
  width: 100%;
  height: 1.17rem;
  line-height: 1.17rem;
  font-size: .35rem;
  text-align: center;
  background: #f5f5f5;
}

.category-title-active {
  border-left: .13rem solid #ff833a;
  background-color: #fff;
  color: #ff833a;
}

.category-left-head {
  width: 100%;
  height: .8rem;
  background: #f5f5f5;
}

/* 左侧结束 */

/* 右侧开始 */

.categoryRight {
  position: relative;
  float: left;
  top: .2rem;
  height: calc(100vh - 1.48rem);
  width: 7.26rem;
  overflow: hidden;
}

.category-goods {
  width: 100%;
  height: 2.56rem;
  padding: .17rem;
  margin-bottom: .17rem;
  border-radius: .2rem;
  background-color: #fff;
}

.category-img {
  display: block;
  float: left;
  width: 2.2204rem;
  height: 2.2204rem;
  margin-right: .15rem;
}

.category-goods-info {
  position: relative;
  width: calc(100% - 2.3704rem);
  height: 100%;
  float: left;
}

.category-goods-info p:first-child {
  font-size: .35rem;
  margin-bottom: .15rem;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.category-goods-info p:nth-child(2) {
  text-decoration: line-through;
  margin-bottom: .15rem;
  display: flex;
  font-size: .3rem;
  align-items: center;
  color: #c1c1c1;
}

.category-goods-info p:nth-child(3) {
  position: relative;
  display: flex;
  align-items: center;
  font-size: .4rem;
  color: #f5702a;
  height: .55rem;
}

.category-goods-info p:nth-child(3) span {
  font-size: .3rem;
  margin-top: .09rem;
}

.category-goods-info p:nth-child(4) {
  width: 100%;
  position: absolute;
  color: #ccc;
  bottom: 0;
  font-size: .2rem;
}

.category-goods-info p:nth-child(4) span {
  margin-right: .4rem;
}

.category-goods-img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: .8rem;
  height: .8rem;
}

.category-goods .item-img img {
  margin-left: 1.2rem;
}

/* 轮播开始 */

.category-tab-box {
  position: absolute;
  overflow: hidden;
  bottom: 1.28rem;
  width: 100%;
}

.category-tab {
  position: relative;
  overflow: hidden;
  height: 1.33rem;
  z-index: 9999;
  transition: all 1s;
}

.category-tab-bar {
  position: absolute;
  float: left;
  width: 2rem;
  height: 1.33rem;
  line-height: 1.33rem;
  text-align: center;
  font-size: .3rem;
  color: #fff;
}

.bar-active {
  font-size: .4rem;
  color: #ff833a;
}

.tab-un {
  position: absolute;
  bottom: 0;
  width: 2rem;
  height: .05rem;
  background-color: #ff833a;
  transition: all 1s;
}

.category-swiper {
  position: relative;
  width: 100%;
  height: calc(100vh - 2.61rem);
}

.category-swiper .swiper-container {
  top: 50%;
  transform: translate(0, -50%);
}

.category-swiper .swiper-wrapper {
  width: 100%;
  padding-bottom: .1rem;
}

.category-swiper .swiper-slide {
  position: relative;
  background: #fff;
  width: 77.33% !important;
  height: 58%;
  transform: scale(0.9);
  transition: all 1s;
  opacity: .5;
  border-radius: .4rem;
  overflow: hidden;
}

.category-swiper .swiper-slide:first-child {
  opacity: 1;
  transform: scale(.95);
}

.swiper-goods-info {
  position: relative;
  width: 6.9339rem;
  height: calc(10.45rem - .8rem - 6.93rem - .4rem);
  margin: 0 .4rem .4rem .4rem;
}

.swiper-slide .swiper-goods-img {
  width: 6.9339rem;
  height: 6.9339rem;
  margin: .4rem .4rem 0 .4rem;
}

/* .category-swiper .swiper-slide-active {
  opacity: 1;
  transform: scale(.95);
} */

.category-swiper .swiper-slide p:nth-of-type(1) {
  font-size: .4rem;
  margin: .4rem 0;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.category-swiper .swiper-slide p:nth-of-type(2) {
  display: flex;
  text-decoration: line-through;
  margin-bottom: .15rem;
  font-size: .3rem;
  align-items: center;
  color: #c1c1c1;
}

.category-swiper .swiper-slide p:nth-of-type(3) {
  position: relative;
  display: flex;
  align-items: center;
  font-size: .4rem;
  color: #f5702a;
  height: .55rem;
}

.category-swiper .swiper-slide p:nth-of-type(3) span {
  font-size: .3rem;
  margin-top: .09rem;
}

.category-swiper .swiper-slide p:nth-of-type(4) {
  width: 100%;
  position: absolute;
  color: #ccc;
  bottom: 0;
  font-size: .2rem;
}

.category-swiper .swiper-slide p:nth-of-type(4) span {
  margin-right: .4rem;
}

.swiper-goods-info .category-goods-img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: .8rem;
  height: .8rem;
}

.category-swiper .swiper-scrollbar {
  background: #fff;
  width: 2rem;
  left: 50%;
  transform: translate(-50%, 0);
}

.category-swiper .swiper-scrollbar-drag {
  background: #ff762e;
}